/* Import des fonts */
@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Open+Sans&display=swap');

body {
    background-color: black;
    font-family: 'Open Sans', sans-serif;
}


/* ------------------------------------------------------ */
/* CONTAINER */
/* ------------------------------------------------------ */
.container {
    display: grid;
    /* nous allons faire une grid de 12 colonnes */
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 27vh 27vh 27vh 19vh;

    width: 65vw;
    margin: 0 auto;
    background-color: white;
}


/* ------------------------------------------------------ */
/* SMARTPHONE */
/* ------------------------------------------------------ */
.smartphone {
    grid-column: 1/ span 6;
    grid-row: 1/2;

    /* nous allons espacer nos divs à l'aide de flexbox */
    display: flex;
    justify-content: space-evenly;

    background-color: white;
}

.smartphone .text {
    /* nous allons faire un flex columns pour centrer nos div verticalement et horizontalement */
    display: flex;
    flex-direction: column;
    justify-content: center;

    font-size: 0.8rem;

    width: 30%;
}

.smartphone .text p {
    margin: 0;
}

.smartphone .text .title {
    font-size: 0.4rem;
    margin-bottom: 0.5rem;
    color: gray;
}

.smartphone .text .more {
    font-size: 0.5rem;
    margin-top: 0.5rem;
    color: lightgray;
}

.smartphone .picture {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 50%;
}

.smartphone .picture img {
    width: 55%;
    height: auto;
}


/* ------------------------------------------------------ */
/* CHEMICAL */
/* ------------------------------------------------------ */
.chemical {
    grid-column: 7/ span 6;
    grid-row: 1/2;

    /* nous allons faire un flex columns pour centrer nos div verticalement et horizontalement */
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: #F7F8F9;
    text-align: center;
}

.chemical .text {
    margin: 0;
    font-family: 'Arvo', serif;
    font-size: 1.6rem;
}

.chemical .more {
    font-size: 0.4rem;
    margin-bottom: 0.5rem;
    color: gray;
}

.chemical .download {
    font-size: 0.5rem;
    margin-top: 0.4rem;
    color: rgb(56, 158, 158);
    text-decoration: underline;
}


/* ------------------------------------------------------ */
/* KEYBOARD */
/* ------------------------------------------------------ */
.keyboard {
    grid-column: 1/ span 3;
    grid-row: 2/3;

    /* nous allons faire un flex columns pour centrer nos div verticalement et horizontalement */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #F05638;
    text-align: center;
}

.keyboard .text {
    color: white;
    font-family: 'Arvo', serif;
}

.keyboard .learn {
    color: rgb(245, 175, 44);
    font-size: 0.5rem;
}

.keyboard img {
    display: block;
    width: 50%;
    height: auto;
}


/* ------------------------------------------------------ */
/* OLDCOMPUTER */
/* ------------------------------------------------------ */
.oldComputer {
    grid-column: 4/ span 6;
    grid-row: 2/3;

    /* display flex permettant de manipuler les divs plus facilement */
    display: flex;
    background-color: white;
}

.oldComputer .computer {
    display: flex;
    flex-direction: column;
    /* Pour aligner les items vers le bas */
    justify-content: flex-end;
    width: 45%;
}

.oldComputer .computer p {
    margin: 0;
}

.oldComputer .computer .title {
    color: grey;
    font-size: 0.4rem;
    margin-left: 3rem;
    margin-bottom: 0.5rem;
}

.oldComputer .computer .hardly {
    font-family: 'Arvo', serif;
    font-size: 0.8rem;
    margin-left: 3rem;
    margin-bottom: 1.5rem;
}

.oldComputer .computer img {
    width: 67%;
    height: 33%;
    object-fit: cover;
    object-position: 100% 0;
}

.oldComputer .text {
    width: 50%;
    padding: 1.2rem 3rem 3rem 3rem;
}

.oldComputer .text p {
    color: lightgray;
    font-size: 0.6rem;
}

.oldComputer .text .download {
    color: rgb(33, 144, 154);
    font-size: 0.4rem;
}


/* ------------------------------------------------------ */
/* DISK */
/* ------------------------------------------------------ */
.disk {
    grid-column: 10/ span 3;
    grid-row: 2/4;

    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: #8f75bc;
    color: white;
    text-align: center;
}

/* 1ere div contenant la disquette et le cercle */
.disk .circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 50%;
    border-radius: 50%;
    background-color: #8167b0;
    margin: 0.5rem;
}

.disk .circle .title {
    font-size: 0.4rem;
    font-family: 'Open Sans', sans-serif;

    /* Mise en place de radius pour l'arrondi */
    border-radius: 16px;
    padding: 0.1rem 0.6rem;
    background-color: #8f75bc;
}

.disk .circle p {
    font-size: 0.5rem;
    font-weight: bold;
    margin: 0;
}

.disk img {
    width: 58%;
    height: auto;
}

.disk p {
    margin: 0;
}

/* 2eme div contenant Icloud, description, learn ... */
.disk .title {
    font-family: 'Arvo', serif;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.disk .description {
    font-size: 0.6rem;
    padding: 0 1.5rem;
}

.disk .learnButton {
    width: 5rem;
    color: black;
    font-size: 0.45rem;
    font-weight: bold;
    border-radius: 16px;
    padding: 0.5rem 0;
    margin: 1rem auto 0 auto;
    background-color: rgb(248, 195, 36);
}


/* ------------------------------------------------------ */
/* GAMECONTROLLER */
/* ------------------------------------------------------ */
.gameController {
    display: flex;
    flex-direction: column;
    justify-content: center;

    grid-column: 1/ span 3;
    grid-row: 3/4;
    background-color: white;
    text-align: center;
}

.gameController img {
    width: 60%;
    height: auto;
    margin-left: 15%;
}

.gameController .title {
    font-weight: bold;
    font-family: 'Arvo', serif;
}

.gameController .learn {
    font-weight: bold;
    font-size: 0.5rem;
    color: rgb(33, 144, 154)
}






.laptop {
    grid-column: 4/ span 6;
    grid-row: 3/4;
    background-color: #93B6B7;
}

.yellowTwitter {
    grid-column: 1/ span 3;
    grid-row: 4/5;
    background-color: #38D5F4;
}

.experience {
    grid-column: 4/ span 3;
    grid-row: 4/5;
    background-color: white;
}

.oldTv {
    grid-column: 7/ span 6;
    grid-row: 4/5;
    background-color: #2C2C2C;
}